// 基础色
$base-color = #5ea0e4 // 大面积色
$base-aid = #3386e6   // 辅助色 、按钮色

// 文字
$base-focus = #555555 // 重点文字
$base-point = #c4c4c4 // 提示文字

// 文字大小

$font-table-max = 20px  // 标题导航
$font-table-mini = 18px // 二级导航
$font-text-default = 16px //  文本控件
$font-text-common-max = 14px // 通用文字
$font-text-common-mini = 10px // 辅助提示文字

// 文字颜色
$font-color-default = #c4c4c4
$font-color-whiet = #fff


